body {
  font-family: Arial, sans-serif;
}

.app {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.task-list {
  margin-top: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task.completed span {
  text-decoration: line-through;
  color: #aaa;
}



button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  color: red;
}

button:focus {
  outline: none;
}


/* src/index.css */
form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]::placeholder {
  color: #999;
  font-style: italic;
}

input[type="text"]:focus {
  border-color: #007bff;
}

/* src/index.css */

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style the input field */
.task-input {
  padding: 10px;
  width: 250px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.task-input::placeholder {
  color: #999;
  font-style: italic;
}

.task-input:focus {
  border-color: #007bff;
}

.add-task-button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: #0056b3;
  color: rgb(255, 255, 255);
}

.add-task-button:active {
  background-color: #003f7f;
}


button:focus {
  outline: none;
}

label {
  font-size: 16px;
  margin-right: 5px;
}

select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Tab container styling */
.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Individual tab styling */
.tab {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #007bff;
  color: white;
}

.tab:hover {
  background-color: #e0e0e0;
}
